<header class="main-header">
    <nav class="header-navigation">
        <ul class="header-navigation-unordered-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'user-account' %}">Account</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'Ora-sh-AI-Chat' %}">Ora-sh-AI-Chat</a></li>
        </ul>
    </nav>
</header>